.footer {
  background-image: url("/images/footer-bg.png");
  background-repeat: no-repeat;
  height: 392px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0 26px;
  margin: 120px 0;
  &-heading {
    font-weight: 600;
    font-size: 32px;
    line-height: calc(48 / 32);
    color: $white;
    margin-bottom: 26px;
  }
  .form {
    display: flex;
    align-items: center;
    position: relative;
    input {
      flex: 1;
      border-radius: 42px;
      min-width: 486px;
      height: 54px;
      padding: 16px;
      padding-right: 130px;
    }
    a {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      text-align: center;
    }
  }
  @media screen and (max-width: 1023.98px) {
    overflow: hidden;
    margin-block: 50px;
    .form {
      flex-direction: column;
      a {
        position: static;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    width: 100%;
    &-heading {
      font-size: 18px;
    }
    .form {
      input {
        min-width: 300px;
        padding-right: 40px;
      }
    }
  }
}
